<div class="sidebar-user">
    <div class="sidebar-avatar">
        <img src="/images/avatar.jpg">
    </div>
    <div class="sidebar-user-info">
        <div class="sidebar-user-name">{{basicDetail.name}}</div>
        <div class="sidebar-user-screenname">{{basicDetail.screenname}}</div>
    </div>
    <div style="clear: both;"></div>
    <div class="sidebar-user-extra">
        <div class="sidebar-extra-container">
            <div class="sidebar-extra-header">TWEETS</div>
            <div class="sidebar-extra-content">{{basicDetail.tweets}}</div>
        </div>
        <div class="sidebar-extra-container">
            <div class="sidebar-extra-header">FOLLOWING</div>
            <div class="sidebar-extra-content">{{basicDetail.following}}</div>
        </div>
        <div class="sidebar-extra-container">
            <div class="sidebar-extra-header">FOLLOWERS</div>
            <div class="sidebar-extra-content">{{basicDetail.followers}}</div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>