<!-- User sidebar -->
<div class="sidebar">
    <div class="sidebar-avatar">
        <img src="/images/avatar/{{user.avatar}}">
    </div>
    <div class="sidebar-user-info">
        <div class="sidebar-user-name">{{user.name}}</div>
        <div class="sidebar-user-screenname">{{user.screenname}}</div>
    </div>
    <div style="clear: both;"></div>
    <div class="sidebar-user-extra">
        <div class="sidebar-extra-container">
            <div class="sidebar-extra-header">TWEETS</div>
            <div class="sidebar-extra-content">{{user.tweets}}</div>
        </div>
        <div class="sidebar-extra-container">
            <div class="sidebar-extra-header">FOLLOWING</div>
            <div class="sidebar-extra-content">{{user.following}}</div>
        </div>
        <div class="sidebar-extra-container">
            <div class="sidebar-extra-header">FOLLOWERS</div>
            <div class="sidebar-extra-content">{{user.followers}}</div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>

<!-- Follow recommendations sidebar -->
<div class="sidebar">
    <div class="sidebar-user-name">Whom to follow</div>
    
    <div ng-repeat="user in users">
        <div class="sidebar-user">
            <a class="tweet-user-link">
                <div class="tweet-avatar">
                    <img src="/images/avatar/{{user.avatar}}">
                </div>
                <div class="tweet-name">{{user.name}}</div>
                <div class="tweet-screenname">{{user.screenname}}</div>
            </a>
            <div class="follow-button" ng-click="follow(user)">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                Follow
            </div>
        </div>
    </div>


</div>