<div class="new-tweet">
    <div class="tweet-header">
        <div class="tweet-user-link">
            <div class="tweet-avatar">
                <img src="/images/avatar.jpg">
            </div>
            <div class="tweet-name">Dani</div>
            <div class="tweet-screenname">@danirhoads</div>
        </div>
    </div>
    <div class="tweet-content">
        <textarea class="new-tweet-text" ng-model="tweetText"></textarea>
    </div>
    <div class="tweet-footer">
        <div class="tweet-chars-number">{{140 - tweetText.length}}</div>
        <div class="tweet-button" ng-click="sendTweet()">Tweet</div>
        <div style="clear: both;"></div>
    </div>
</div>
<div ng-repeat="tweet in timeline">
    <div class="tweet">
        <div class="tweet-header">
            <a class="tweet-user-link">
                <div class="tweet-avatar">
                    <img src="/images/avatar.jpg">
                </div>
                <div class="tweet-name">Dani</div>
                <div class="tweet-screenname">@danirhoads</div>
            </a>
            <div class="tweet-time">- 20 min</div>
        </div>
        <div class="tweet-content">
            <div class="tweet-text">{{tweet.text}}</div>
        </div>
        <div class="tweet-footer">
            <div class="tweet-extra-container retweet">
                <i class="tweet-extra-icon fa fa-retweet"></i>
                <div class="tweet-extra-content">56</div>
            </div>
            <div class="tweet-extra-container fav">
                <i class="tweet-extra-icon fa fa-heart"></i>
                <div class="tweet-extra-content">28</div>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>
<div class="tweet">
    <div class="loader-container show">
        <div class="loader"></div>
        <div class="loader"></div>
        <div class="loader"></div>
        <div class="loader"></div>
        <div class="loader"></div>
    </div>
</div>