<div class="new-tweet">
    <div class="tweet-header">
        <div class="tweet-user-link">
            <div class="tweet-avatar">
                <img src="/images/avatar.jpg">
            </div>
            <div class="tweet-name">Dani</div>
            <div class="tweet-screenname">@danirhoads</div>
        </div>
    </div>
    <div class="tweet-content">
        <textarea class="new-tweet-text" ng-model="$parent.tweetText"></textarea>
    </div>
    <div class="tweet-footer">
        <div class="tweet-chars-number">{{140 - $parent.tweetText.length}}</div>
        <div class="tweet-button" ng-click="sendTweet()">Tweet</div>
        <div style="clear: both;"></div>
    </div>
</div>
<div ng-repeat="tweet in timeline">
    <tweet tweet="tweet"></tweet>
</div>
<div class="tweet">
    <div class="loader-container show">
        <div class="loader"></div>
        <div class="loader"></div>
        <div class="loader"></div>
        <div class="loader"></div>
        <div class="loader"></div>
    </div>
</div>