<div class="new-tweet">
    <div class="tweet-header">
        <div class="tweet-user-link">
            <div class="tweet-avatar">
                <img src="/images/avatar/{{user.avatar}}">
            </div>
            <div class="tweet-name">{{user.name}}</div>
            <div class="tweet-screenname">{{user.screenname}}</div>
        </div>
    </div>
    <div class="tweet-content">
        <textarea class="new-tweet-text" msd-elastic ng-model="$parent.tweetText" ng-focus="textareaFocused=true" ng-blur="textareaFocused=false" placeholder="What's on your mind?"></textarea>
    </div>
    <div class="tweet-footer" ng-show="$parent.tweetText.length || textareaFocused">
        <div class="tweet-chars-number" ng-class="{limit: $parent.tweetText.length > 140}">{{140 - $parent.tweetText.length}}</div>
        <div class="tweet-button" ng-class="{disabled: !$parent.tweetText.length || $parent.tweetText.length > 140}" ng-click="sendTweet()">Tweet</div>
        <div style="clear: both;"></div>
    </div>
</div>
<div class="new-tweets-container" ng-class="{show: newTweets.length}" ng-click="renderNewTweets()">
    <div class="new-tweets-text">{{newTweets.length}} new tweets</div>
</div>
<div ng-repeat="tweet in timeline">
    <tweet tweet="tweet"></tweet>
</div>
<loader></loader>