/*****************
* COLOR PALETTE 
*
* HEX
*
* Base: #3A65AD;
* Light: #5980C2;
* Lighter: #85A4D9;
* Dark: #1D4EA2;
* Darker: #10397E;
*
* Fav: #FF6767;
* Retweet: #0E9A87;
*
* Background: #E4E9F2;
*
* RGB
*
* Base: rgb(58, 101, 173);
* Light: rgb(89, 128, 194);
* Lighter: rgb(133, 164, 217);
* Dark: rgb(29, 78, 162);
* Darker: rgb(16, 57, 126);
*
*******************/


body {
    background-color: #E4E9F2;
    font-family: sans-serif;
    color: #555;
    font-size: 16px;
    margin: 0px;
}

.container {
    margin-top: 50px;
}

.sidebar-container,
.tweets-container {
    float: left;
}

/*********
* Navbar *
**********/
.navbar {
    height: 50px;
    width: 100%;
    top: 0px;
    background-color: #3a64ad;
    position: fixed;
    z-index: 999;
}

.navbar-content {

}

.logo {
    width: 30px;
    height: 30px;
    padding: 10px;
    position: absolute;
    left: calc(50% - 25px);
}

.navbar .button {
    float: left;
    padding: 10px 20px;
    width: 70px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    color: white;
    transition: background-color 0.3s;
    cursor: pointer;
    box-sizing: border-box;
    line-height: 30px;
    position: relative;
}

.navbar .button.disabled {
    color: #d0d0d0;
}

.navbar .button.right {
    float: right;
}

.navbar .button i {
    display: inline-block;
    vertical-align: middle;
}

.navbar .button:first-child{
    font-size: 24px;
}

.navbar .button.active {
    background-color: #10397E;
}

.navbar .button:not(.active):not(.disabled):hover {
    background-color: #1D4EA2;
}

.navbar .button-label {
    display: none;
    font-size: 14px;
    line-height: 24px;
    margin-left: 5px;
}

.navbar .button.disabled .popup {
    position: absolute;
    font-size: 12px;
    color: #eee;
    background-color: #555;
    padding: 0px 10px;
    bottom: -25px;
    left: calc(50% - 60px);
    height: 25px;
    width: 100px;
    line-height: 25px;
    opacity: 0;
    transition: all 0.3s;
}

.navbar .button.disabled .popup:before {
    content: '\A';
    border-bottom: 7px solid #555;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    height: 0px;
    width: 0px;
    position: absolute;
    top: -7px;
    left: calc(50% - 10px);
}

.navbar .button.disabled:hover .popup {
    opacity: 1;
    bottom: -32px;
}

/**********
* Sidebar *
***********/
.sidebar-container {
    margin-right: 20px;
}

.sidebar {
    border: 1px solid #85A4D9;
    background-color: white;
    width: 300px;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: none;
    padding: 20px;
}

.sidebar-avatar,
.sidebar-user-info {
    display: inline-block;
    vertical-align: middle;
}

.sidebar-avatar {
    box-sizing: border-box;
    /*border: 1px solid #85A4D9;*/
    width: 80px;
    height: 80px;
}

.sidebar-avatar img {
    width: 100%;
    height: 100%;
}

.sidebar-user-info {
    margin-left: 10px;
    cursor: pointer;
}

.sidebar-user-info:hover .sidebar-user-name {
    color: #85A4D9;
    text-decoration: underline;
}

.sidebar-user-name {
    font-weight: bold;
    font-size: 20px;
}

.sidebar-user-screenname {
    color: #999;
    font-size: 14px;
}

.sidebar-user-extra {
    margin-top: 20px;
}

.sidebar-extra-container {
    float: left;
    width: calc(100% / 3);
    cursor: pointer;
}

.sidebar-extra-container:hover .sidebar-extra-header {
    color: #85A4D9;
}

.sidebar-extra-header {
    color: #999;
    font-size: 10px;
}

.sidebar-extra-content {
    color: #85A4D9;
    font-size: 20px;
    font-weight: bold;
}

.sidebar-user {
    height: 50px;
    padding-left: 60px;
    margin-top: 10px;
}

.follow-button {
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: white;
    border: 1px solid #85A4D9;
    color: inherit;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.follow-button i.fa {
    color: #85A4D9;
    transition: all 0.3s;
}

.follow-button:hover {
    background-color: #85A4D9;
    color: white;
}

.follow-button:hover i.fa{
    color: white;
}

/**********
* Tweet *
***********/
.tweets-container {
    width: 100%;
    border: 1px solid #85A4D9;
    box-sizing: border-box;
}

.new-tweet {
    padding: 20px;
    padding-left: 80px;
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom: 1px dashed rgba(133, 164, 217, 0.8);
}

.tweet {
    padding: 20px;
    padding-left: 80px;
    background-color: white;
    border-bottom: 1px solid rgba(133, 164, 217, 0.1);/*#85A4D9;*/
}

.tweet:hover {
    background-color: #f9f9f9;
}

.new-tweet .tweet-header {
    opacity: 0.7
}

.tweet-content {
    word-break: break-all;
}

.tweet-footer {
    margin-top: 10px;
}

.tweet-user-link {
    position: relative;
    cursor: pointer;
}

.tweet-user-link:hover .tweet-name {
    color: #85A4D9;
    text-decoration: underline;
}

.tweet-avatar {
    width: 50px;
    height: 50px;
    background-color: blue;
    position: absolute;
    left: -60px;
}

.tweet-avatar img {
    width: 100%;
    height: 100%;
}

.tweet-name,
.tweet-screenname,
.tweet-time {
    display: inline-block;
    top: -2px;
    position: relative;
    height: 14px;
    line-height: 14px;
}

.tweet-name {
    font-weight: bold;
}

.tweet-screenname,
.tweet-time {
    color: #999;
    font-size: 14px;
}

.tweet-text {
    clear: both;
}

.tweet-extra-container {
    float: left;
    cursor: pointer;
    color: #999;
    font-weight: bold;
    width: 50%
}

.tweet-extra-container.retweet:hover,
.tweet-extra-container.retweet.active {
    color: #0E9A87;
}

.tweet-extra-container.fav:hover,
.tweet-extra-container.fav.active {
    color: #FF6767;
}

.tweet-extra-icon,
.tweet-extra-content {
    display: inline-block;
    font-size: 14px;
}

.tweet-extra-icon.fa-retweet {
    font-size: 16px;
}

.tweet-extra-content {
    margin-left: 10px;
}

.new-tweet-text {
    width: calc(100% - 22px);
    border: 1px dashed #85A4D9;
    max-height: 18px;
    word-wrap: break-word;
    resize: none;
    font-family: inherit;
    padding: 5px 10px;
    color: inherit;
    line-height: 18px;
}

.new-tweet-text:focus,
.new-tweet-text:not(.ng-empty) {
    max-height: none;
    height: auto;
}

.tweet-chars-number {
    float: left;
}

.tweet-chars-number.limit {
    color: #FF6767;
}

.tweet-button {
    float: right;
    padding: 8px 20px;
    background-color: #5980C2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tweet-button.disabled {
    cursor: not-allowed;
    background-color: #85A4D9;
}

.tweet-button:not(.disabled):hover {
    background-color: #1D4EA2;
}

.new-tweets-container {
    width: 100%;
    height: 0px;
    color: #3A65AD;
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    font-size: inherit;
    line-height: 40px;
    text-align: center;
    transition: height 0s;
    box-sizing: border-box;
}

.new-tweets-container.show {
    height: 40px;
    transition: height 0.3s;
}

.new-tweets-container .new-tweets-text {
    display: none;
}

.new-tweets-container.show .new-tweets-text {
    display: block;
}

.new-tweets-container:hover {
    background-color: #85A4D9;
    color: white;
}

/*********/

@media (min-width: 768px) {
    .sidebar {
        display: block;
    }

    .main-content {
        width: 100%;
        padding: 20px;
        margin: 0px auto;
        box-sizing: border-box;
    }

    .tweets-container {
        width: calc(100% - 320px);
    }

    .navbar .navbar-content {
        width: 100%;
        padding: 0px 20px;
        margin: 0px auto;
        box-sizing: border-box;
    }

    .tweet-extra-container {
        width: auto;
        margin-right: 50px;
    }

}

@media (min-width: 992px) {
    .navbar .button-label {
        display: inline-block;
    }

    .navbar .button {
        width: auto;
    }
}

@media (min-width: 1200px) {
    .main-content {
        width: 1160px;
    }

    .navbar .navbar-content {
        width: 1160px;
    }

}

.loader-container {
    display: none;
    height: 30px;
}

.loader-container.show {
    display: block;
}

.loader {
    background-color: #3A65AD;
    display: inline-block;
    vertical-align: middle;
    width: 5px;
    animation: loading 1s infinite;
    -webkit-animation: loading 1s infinite;
}

.loader:nth-child(2) {
    animation-delay: 0.15s;
    -webkit-animation-delay: 0.15s;
}

.loader:nth-child(3) {
    animation-delay: 0.30s;
    -webkit-animation-delay: 0.30s;
}

.loader:nth-child(4) {
    animation-delay: 0.45s;
    -webkit-animation-delay: 0.45s;
}

.loader:nth-child(5) {
    animation-delay: 0.60s;
    -webkit-animation-delay: 0.60s;
}


@keyframes loading {
    0% {
        height: 10px;
    }

    30% {
        height: 20px;
    }

    60% {
        height: 10px;
    }

    100% {
        height: 10px;
    }
}

@-webkit-keyframes loading {
    0% {
        height: 10px;
    }

    30% {
        height: 20px;
    }

    60% {
        height: 10px;
    }

    100% {
        height: 10px;
    }
}
