/*********
* Navbar *
**********/

.navbar {
    height: 50px;
    width: 100%;
    top: 0px;
    background-color: #3a64ad;
    position: fixed;
    z-index: 999;
}

.navbar-content {

}

.logo {
    width: 30px;
    height: 30px;
    padding: 10px;
    position: absolute;
    left: calc(50% - 25px);
}

.navbar .button {
    float: left;
    padding: 10px 20px;
    width: 70px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    color: white;
    transition: background-color 0.3s;
    cursor: pointer;
    box-sizing: border-box;
    line-height: 30px;
    position: relative;
}

.navbar .button.disabled {
    color: #d0d0d0;
}

.navbar .button.right {
    float: right;
}

.navbar .button i {
    display: inline-block;
    vertical-align: middle;
}

.navbar .button:first-child{
    font-size: 24px;
}

.navbar .button.active {
    background-color: #10397E;
}

.navbar .button:not(.active):not(.disabled):hover {
    background-color: #1D4EA2;
}

.navbar .button-label {
    display: none;
    font-size: 14px;
    line-height: 24px;
    margin-left: 5px;
}

.navbar .button.disabled .popup {
    position: absolute;
    font-size: 12px;
    color: #eee;
    background-color: #555;
    padding: 0px 10px;
    bottom: -25px;
    left: calc(50% - 60px);
    height: 25px;
    width: 100px;
    line-height: 25px;
    opacity: 0;
    transition: all 0.3s;
}

.navbar .button.disabled .popup:before {
    content: '\A';
    border-bottom: 7px solid #555;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    height: 0px;
    width: 0px;
    position: absolute;
    top: -7px;
    left: calc(50% - 10px);
}

.navbar .button.disabled:hover .popup {
    opacity: 1;
    bottom: -32px;
}
